# 제어문

## 조건문 (if문)
1. `if`문은 반드시 일정한 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다.
   (`if <조건식>:`)
   
2-1. `<조건식>`이 참 인 경우 `:` 이후의 문장을 실행

2-2. `<조건식>`이 거짓 인 경우 `else:` 이후의 문장을 실행

In [5]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 123

크리스마스가 아닙니다.

In [17]:
num = input('숫자를 입력해주세요')
print(num)
print(type(num))
num = int(num)

숫자를 입력해주세요 123

123
<class 'str'>

In [18]:
# 조건문을 사용해서 num에 들어있는 숫자가 홀수/짝수 인지 판별
if (num % 2) == 1:
    print('홀수')
else:
    print('짝수')

홀수

In [20]:
# if문의 조건식에 0, 1은 자동형변환 -> False, True
if num % 2:
    print('홀수')
else:
    print('짝수')

홀수

### elif
```
if <조건식>:
    if 조건이 참 인 경우 실행
elif <조건식>:
    elif 조건이 참 인 경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [37]:
score = int(input())

 99

In [46]:
# 90점 이상 A (95점이상 '참 잘했어요.'
# 80점 이상 B
# 70점 이상 C
# 나머지 F

if score >= 90:
    print('A')
    if score >= 95:
        print('참 잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

A
참 잘했어요

## 조건표현식

```
true_value if <조건식> else false_value
```

In [49]:
print('True') if 1 < 0 else print('False')

False

In [51]:
if 1 < 0:
    print('True')
else:
    print('False')

False

In [62]:
num = -5
value = num if num >=0 else 0
print(value)

0

In [64]:

num = -5
if num >= 0:
    print(value)
else:
    print(0)

0

In [66]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [70]:
num = 2
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

# 반복문

## while 문
```
while <조건식>:
    실행할 코드
```

In [1]:
a = 0

while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [6]:
#사용자가 '안녕'이라고 할 때까지 계속 입력을 요청받는 코드

greeting = ' '

while greeting != '안녕':
    greeting = input('안녕이라고 해줘 : ')

안녕이라고 해줘 :  1
안녕이라고 해줘 :  2
안녕이라고 해줘 :  3
안녕이라고 해줘 :  4
안녕이라고 해줘 :  안뇽
안녕이라고 해줘 :  안녕

# for
정해진 범위 내 반복
```
    for variable in sequence:
        code
```

In [7]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [8]:
# for문을 사용해서 사용자가 입력한 데이터를 한 글자씩 출력하는 코드

numbers = [1, 2, 3, 4, 5]

for number in numbers:
    input(number)

1 1
2 2
3 3
4 4
5 5

In [9]:
word = input('단어를 입력해주세요: ')

for char in word:
    print(char)

단어를 입력해주세요:  apple

a
p
p
l
e

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [23]:
# 1~30까지 숫자 중에서 홀수만 담긴 리스트 출력, 모아서 리스트로 출력

numbers = range(31)
result = []

for number in numbers:
    if number % 2 ==1:
       # print(number)
        result.append(number)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [29]:
menus = ['라면', '치킨', '김치찌개']

for idx, menu in enumerate(menus):
    print(idx)
    print(menu)

0
라면
1
치킨
2
김치찌개

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dict.values():
4. for key, value in dict.items():

In [31]:
info = {
    'name': 'HYUNJUNE',
    'location': 'seoul',
    'phone': '010-1234-5678',
}

In [35]:
for i in info:
    print(i)
    print(info[i])

name
HYUNJUNE
location
seoul
phone
010-1234-5678

In [38]:
blood_type = {
    'A': 5,
    'B': 4,
    'O': 2,
    'AB': 3,
}

In [40]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [41]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
O
AB

In [44]:
result = 0

for value in blood_type.values():
    result = result + value
print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [49]:
for key, value in blood_type.items():
    print(f'{key}형은 {value}명입니다.')

A형은 5명입니다.
B형은 4명입니다.
O형은 2명입니다.
AB형은 3명입니다.

In [46]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('O', 2), ('AB', 3)])

### break
반복문을 종료시키는 키워드

In [51]:
for i in range(100):
    if i > 10:
        print('10넘었어')
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
10넘었어

In [53]:
rice = ['보리', '보리', '보리' ,'쌀', '보리', '보리']
# 보리, 보리, 보리, 쌀, 잡았다!

In [60]:
for r in rice:
    print(r)
    if r == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

### continue
continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [72]:
for i in range(10):
    if i % 2:
        continue
    print(i)

0
2
4
6
8

In [78]:
age = [10, 35, 20, 18, 9, 40]

for 청소년 in age:
    if 청소년 >= 20:
        continue
    print('청소년입니다.')

청소년입니다.
청소년입니다.
청소년입니다.

## else
else문은 끝까지 반복이 진행된 후 실행

In [84]:
for i in range(10):
    if i > 100:
        break
    print(i)
else:
    print('break 만나지 못함')

0
1
2
3
4
5
6
7
8
9
break 만나지 못함

In [85]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('break 만나지 못함')

0
1
2
3
4
5

In [87]:
numbers = [1, 3, 5, 7, 9]
print(3 in numbers)
print(2 in numbers)

True
False

In [95]:
numbers = [1, 3, 5, 7, 9]
target = 4

for number in numbers:
    if number == target:
        print('True')
        break
else:
    print('False')

False

## pass

In [97]:
if True:
    pass

### match

    match value:
        case 조건:
            code
        case 조건:
            code
        case _:
            code

In [99]:
status = 404

match status:
    case 400:
        print('Bad request')
    case 404:
        print('Not found')
    case _:
        print('something is wrong')

Not found