# 01. intro

## 단축키

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt +enter : 지금 셀 실행 & 아래에 세로운 셀 추가

## 주의사항

1. apple / Apple 대소문자 주의
2. git add. / git add . 띄어쓰기 주의
3. message / massage

In [ ]:
# 주석을 나타냅니다.

# 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드는 사용불가

In [8]:
a = 10

In [13]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1.1 number

In [17]:
a = 1000000

In [18]:
a

1000000

In [19]:
type(a)

int

In [20]:
b = 1.1

In [21]:
b

1.1

In [22]:
type(b)

float

In [23]:
c = 1 - 4j

In [24]:
c

(1-4j)

In [25]:
type(c)

complex

In [27]:
c.imag

-4.0

In [28]:
c.real

1.0

### 1.2 Boolean

True, False로 이루어진 타입

In [29]:
a = True

In [30]:
type(a)

bool

b = False

In [32]:
type(b)

bool

In [33]:
bool(0)

False

In [34]:
bool(1)

True

In [36]:
bool([1])

True

In [37]:
bool([])

False

### 1.3 None

In [38]:
a = None

In [39]:
type(a)

NoneType

### 1.4 String

- 문자열은 ', " 를 이용하여 표현

In [40]:
a = 'hello'

In [41]:
type(a)

str

In [42]:
b = "world"

In [43]:
type(b)

str

In [45]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [47]:
print('안녕하세요? '유현준'입니다.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (925100389.py, line 1)

In [48]:
print('안녕하세요? "유현준"입니다.')

안녕하세요? "유현준"입니다.

In [49]:
print('안녕하세요? \'유현준\'입니다.')

안녕하세요? '유현준'입니다.

In [50]:
a = '''
여기는 문자열입니다.
엔터를 쳐서 열어 줄을 작성 할 수 있습니다.
'''

In [51]:
print(a)

여기는 문자열입니다.
엔터를 쳐서 열어 줄을 작성 할 수 있습니다.

In [53]:
print('엔터를 입력해봐요 \n다음줄입니다. \t들여쓰기도 가능합니다.')

엔터를 입력해봐요
다음줄입니다. 	들여쓰기도 가능합니다.

In [57]:
print('하나', '둘', '셋', sep='\t')

하나	둘	셋

In [ ]:
### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [58]:
age = 20

In [59]:
print('홍길동은 %s 살입니다.' % age)

홍길동은 20 살입니다.

In [61]:
print('홍길동은 {}살입니다.' .format(age))

홍길동은 20살입니다.

In [62]:
print(f'홍길동은 {age}살입니다.')

홍길동은 20살입니다.

## 2. 연산자

### 2.1 산술연산자

In [67]:
a = 2
b = 3

In [68]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [75]:
print(a//b)
print(a % b)
print(divmod(a, b))

0
2
(0, 2)

### 2.2 비교연산자

In [76]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [77]:
print(a == b)
print(a != b)

False
True

In [78]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

### 2.3 논리연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False일 때, False를 반환
- not : 값을 반대로 전환

In [82]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [83]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [84]:
print(True)
print(not True)

True
False

In [86]:
# 단축평가 (and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [87]:
# 단축평가 (or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

### 2.3 복합연산자

a = 1
b = 2

In [114]:
a

'hi'

In [100]:
a = a + 1

In [101]:
a

1

In [102]:
a += 1

In [103]:
print(a)

2

In [104]:
a += 1

In [105]:
print(a)

3

In [109]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2.4 기타연산자

In [110]:
a = 'hi'
b = 'hello'

In [113]:
# concatenation
a + b

'hihello'

In [112]:
print(a+b)

hihello

In [115]:
a = [1, 2, 3]
b = [4, 5, 6]

In [116]:
a + b

[1, 2, 3, 4, 5, 6]

In [118]:
# containment
print('a' in 'apple')
print('z' in 'apple')

True
False

In [119]:
print(1 in [1, 2, 3])
print (10 in [1, 2, 3])

True
False

In [123]:
# identity
a = 1
b = 1
print(a is b)
print(id(a))
print(id(b))

True
140727330005800
140727330005800

In [124]:
a = 123123
b = 123123
print(a is b)
print(id(a))
print(id(b))

False
2912431643024
2912431641392

### 우선순위

0. ()
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자, in, is
5. not
6. and
7. or

In [130]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환

### 3.1 암시적 형변환

In [133]:
a = True
b = False
c = 1

In [135]:
print(a + c)
print(b + c)

2
1

In [136]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [138]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

### 3.2 명시적 형변환

- int() : string, float 를 int 로 변환
- float() : string, int 를 float 로 변환
- str() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환

In [139]:
a = 1
b = '번'

In [140]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [142]:
print(str(a) + b)
print('a' + b)

1번
a번

In [143]:
a = '3'

In [145]:
type(int(a))

int

In [146]:
a = '3.3'

In [147]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [150]:
type(float(a))

float

In [151]:
a = 1
b = 0
bool(a)

True

In [152]:
bool(b)

False

In [156]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열 != 정렬)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4.1 List(배열) 

- 선언 : 변수이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [167]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [169]:
location = ['서울', '대구', '대전']
print(location)
print(location[1])
location[1] = '부산'
print(location)

['서울', '대구', '대전']
대구
['서울', '부산', '대전']

In [160]:
a = 1
print(a)
a = 'hi'
print(a)

1
hi

### 4.2 Tuple
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)

In [166]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [170]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [173]:
x, y = (1, 2)
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지, +s만큼 증가하는 범위

In [174]:
a = range(1)
print(type(a))

<class 'range'>

In [176]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [177]:
a = range(5, 15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [178]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [183]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4.4 String
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [194]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [191]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [193]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [197]:
# slicing (k간격으로)
list(my_range[2:6:2])

[3, 5]

In [199]:
# in
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)

True
True
True
True

In [200]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)

False
False
False
False

In [201]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [203]:
# *
print([0] * 10)
print([[0] * 10] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [207]:
print(len(my_list))
print(min(my_list))
print(max(my_list))
my_list.count(1)

5
1
5

1

## 5. 시퀀스 데이터가 아닌 자료구조

### 5.1 Set
수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3...}-

In [209]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [212]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
print(my_set_a & my_set_b)

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [213]:
my_list = [1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7}

### 5.2 Dictionary

- 선언 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든것을 사용가능 (불변값 : string, integer)
- value에는 모든 데이터 가능(list, dictionary도 가능)

In [219]:
# 0으로 시작하면 2진수인지 10진수인지 파악하지 못해 에러 ( 02빼고 2는 가능)
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [220]:
dict_a = {
    'name': 'HYUNJUNE',
    'location': 'seoul',
    'location': 'seoul2'
}

In [221]:
print(dict_a)

{'name': 'HYUNJUNE', 'location': 'seoul2'}

In [222]:
dict_a.keys()

dict_keys(['name', 'location'])

In [223]:
dict_a.values()

dict_values(['HYUNJUNE', 'seoul2'])

# 데이터 타입
1. Number
2. Boolean
3. String

# 자료구조
-시퀀스 자료형
1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

-시퀀스가 아닌 자료형
1. {Set} : mutable
2. {Dict: ionary} : mutable